* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  header, footer, nav, section, article, aside, figure, figcaption {
    display: block;
  }
  
  body {
    line-height: 1;
  }
  img {
    border: none;
    vertical-align: bottom;
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
  
  ol, ul {
    list-style: none;
    list-style-type: none;
  }

$font-ja: 'Noto Serif JP', serif;
$font-en: 'Noto Serif', serif;

$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(min-width: 768px) and (max-width: 1024px)",
    "semi-pc": "(min-width: 1025px) and (max-width:1200px)",
    "pc":"(min-width: 1200px)",
    );

      //メディアクエリ
@mixin mq($breakpoint: sp) {
      //map-get(マップ型変数, キー)で値を取得
        @media #{map-get($breakpoints, $breakpoint)} {
          //この中をカスタムできる
        @content;
        }
    }

body{
    font-family: $font-ja;
}
.inner{
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    font-family: $font-en;
    font-size: 60px;
    font-weight: 600;
    @include mq('sp'){
      font-size: 40px;
    }

}
// header
.header{
  position: fixed;
  z-index: 50;
  width: 100%;
  
}
.header_inner{
    display: flex;
    max-width: 1880px;
    height: 80px;
    background-color: transparent;
}
.header_charge_color{
  background-color: #282F35;
}
.header_left{
  font-family: $font-en;
  padding: 20px 0 0 120px;
  line-height: 40px;
  @include mq('pc'){
    padding: 20px 0 0 80px;
  }
  @include mq('semi-pc'){
    padding: 20px 0 0 70px;
  }
  @include mq('tab'){
    padding: 20px 0 0 60px;
  }
  @include mq('sp'){
    padding: 20px 0 0 40px;
  }
  
}
.header_title{
    font-weight: 600;
    font-size: 26px;
    a{
      font-family: $font-en;
      color: #fff;
      text-decoration: none;
      &:hover{
        color: #f7d43f;
      }
    }

}
.header_right{
  margin-left: auto;
  padding: 20px 120px 0 0;
  line-height: 40px;
  @include mq('pc'){
    padding: 20px 80px 0 0;
  }
  @include mq('semi-pc'){
    padding: 20px 70px 0 0;
  }
  


}
.header_items{
  display: flex;
  @include mq('tab'){
    display: none;
  }
  @include mq('sp'){
    display: none;
  }

}
.header_item{
  margin-left: 30px;
  &:first-child{
    margin-left: 0;
  }
  a{
    font-family: $font-en;
    color: #fff;
    &:hover{
      color: #f7d43f;
    }
  }
}

// drawer
.banner{
  display: none;
  @include mq('tab'){
      display: block;
  }
  @include mq('sp'){
      display: block;
  }
}
.drawer-hamburger{
  z-index: 100;
  padding: 34px 0 0;
  top: -2px;
}
.drawer-hamburger-icon{
  height: 2px;
  background-color: #fff;
  &::after{
  background-color: #fff;
  }
  &::before{
  background-color: #fff;

  }
}

.drawer--right .drawer-hamburger{
  right: 60px;
  @include mq('tab'){
    right: 40px;
  }
  // @include mq('sp'){
  //   right: 40px;
  // }
}
.drawer--right.drawer-open .drawer-hamburger{
  @include mq('tab'){
    right: 16.5rem;
  }
  @include mq('sp'){
    right: 14.5rem;
  }
}
.drawer-menu{
  margin-top: 22px;
}
.drawer-nav{
  z-index: 60;
  @include mq('sp'){
    width: 14.25em;
  }
}
.drawer-menu-item{
  // text-decoration: none;
  font-family: $font-en;
  &:hover{
    color: #F7D43F;
    text-decoration: none;


  }
}
// top
#vegas {
  width: 100vw;
  height: 100vh;
}
.top{
  position: relative;
}
.top_inner{

}
.top_box{
  color: #fff;
  position: absolute;
  content: "";
  top: 50%;
  left: 8%;
  @include mq('tab'){
    top: 45%;
  }
  @include mq('sp'){
    top: 45%;
  }

}
.top_title{
  font-size: 70px;
  font-weight: 600;
  @include mq('tab'){
    font-size: 50px;
  }
  @include mq('sp'){
    font-size: 40px;
  }

}
.top_subtitle{
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
  @include mq('tab'){
    font-size: 28px;
    margin-top: 22px;
  }
  @include mq('sp'){
    font-size: 20px;
    margin-top: 22px;
  }

}
// concept
.concept{
  


}
.concept_inner{
  padding: 100px 0 70px 100px;
  @include mq('pc'){
    padding: 80px;
  }
  @include mq('semi-pc'){
    padding: 70px;
  }
  @include mq('tab'){
    padding: 80px 60px;
  }
  @include mq('sp'){
    padding: 80px 40px;
  }

}
.concept_title{
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  

  &::after{
    border-top:1px solid #000 ;
    content: "";
    width: 200px;
    margin-left: 30px;
    @include mq('tab'){
      width: 100%;
    }
    @include mq('sp'){
      width: 100%;
    }
  }

}
.concept_subtitle{
  text-align: center;
  margin-top: 70px;
  font-size: 30px;
  font-weight: 600;
  @include mq('tab'){
    font-size: 22px;
    margin-top: 50px;
    line-height: (30 / 16);

  }
  @include mq('sp'){
    font-size: 20px;
    line-height: (30 / 16);
    margin-top: 50px;

  }

}
.concept_box{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  align-items: center;
  @include mq('tab'){
    display: block;
    margin-top: 0;
  }
  @include mq('sp'){
    display: block;
    margin-top: 0;
  }

}
.concept_text{
  width: 440px;
  font-weight: 600;
  line-height: (30 / 16);
  @include mq('tab'){
    width: 100%;
    font-size: 14px;
    margin-top: 50px;
    text-align: left;
  }
  @include mq('sp'){
    width: 100%;
    font-size: 14px;
    margin-top: 50px;
    text-align: left;
  }

}
.concept_img{
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  @include mq('tab'){
    margin-top: 50px;
  }
  @include mq('sp'){
    margin-top: 60px;
  }

  img{
    width: 100%;
  }
}
.concept_message{
  color: rgba(23, 23, 23,.3);
  font-size: 90px;
  margin-top: 70px;
  text-align: right;
  @include mq('tab'){
    font-size: 70px;
  }
  @include mq('sp'){
    font-size: 60px;
  }
}
// works
.works{
  background: url(/img/works-bgi@2x.jpg) no-repeat center center / cover;

}
.works_inner{
  padding: 100px 100px 70px ;
  @include mq('pc'){
    padding: 80px;
  }
  @include mq('semi-pc'){
    padding: 70px;
  }
  @include mq('tab'){
    padding:  70px 60px;
  }
  @include mq('sp'){
    padding:  70px 40px;
  }
  
}
.works_title{
  color: #fff;
  display: flex;
  justify-content: right;
  align-items: center;
  letter-spacing: 0.1em;
  position: relative;
  right: 150px;
  @include mq('tab'){
    position: static;
    justify-content: left;
  }
  @include mq('sp'){
    position: static;
    justify-content: left;
  }
  &::after{
    border-top: 1px solid #fff;
    width: 200px;
    position: absolute;
    content: "";
    right: -248px;
    @include mq('tab'){
      width: 100%;
      position: static;
      margin-left: 30px;
    }
    @include mq('sp'){
      width: 100%;
      position: static;
      margin-left: 30px;
    }
  }

}
.works_items{
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  @include mq('tab'){
    display: block;
    margin-top: 0;
  }
  @include mq('sp'){
    display: block;
    margin-top: 0;
  }

}
.works_item{
  width: 32%;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  @include mq('tab'){
    width: 100%;
    margin-top: 80px;
  }
  @include mq('sp'){
    width: 100%;
    margin-top: 80px;
  }

}
.works_img{
  img{
    width: 100%;

  }
}
.works_body{
  background-color: #fff;
  height: 134px;
  padding:  20px;
  @include mq('tab'){
    padding: 20px 30px;
  }


}
.works_text{
  line-height: (30 / 16);
  @include mq('semi-pc'){
    font-size: 14px;
  }
}
.works_button{
  text-align: center;
  margin-top: 80px;
  a{
    padding: 19px ;
    background-color: #F7D43F;
    display: inline-block;
    width: 235px;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    border: 1px solid #707070;
    &:hover{
      background-color: #fff;
    }
  }
}
.works_message{
  margin-top: 70px;
  font-size: 90px;
  color: rgba(255, 255, 255, .3);
  @include mq('tab'){
    font-size: 70px;
  }
  @include mq('sp'){
    font-size: 70px;
  }
}
// service
.service{

}
.service_inner{
  padding: 100px 0 70px;
  @include mq('pc'){
    padding: 80px;
  }
  @include mq('semi-pc'){
    padding: 70px ;
  }
  @include mq('tab'){
    padding: 120px 60px 90px ;
  }
  @include mq('sp'){
    padding: 120px 40px 40px ;
  }
}
.service_title{
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  @include mq('tab'){
  }
  @include mq('sp'){
  }
  
  &::after{
    border-top:1px solid #000 ;
    content: "";
    width: 200px;
    margin-left: 30px;
    @include mq('tab'){
      width: 100%;
    }
    @include mq('sp'){
      width: 100%;
    }
  }

}
.service_items{
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  height: 320px;
  margin-top: 80px ;
  
}
.hearing_item{
  width: 33%;
  height: auto;
  position: relative;
  background: url(/img/service-img01@2x.jpg) no-repeat center center / cover;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);
  
  


  &:hover{
    filter: brightness(50%);
    transition: all 0.3s 0s ease;
  }
  
}
.hearing_subtitle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  font-family: $font-en;
  z-index: 20;
  @include mq('sp'){
    font-size: 25px;
  }

}
.planning_item{
  background: url(/img/service-img02@2x.jpg) no-repeat center center / cover;
  width: 33%;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);

  &:hover{
    filter: brightness(50%);
    transition: all 0.3s 0s  ease;
  }

}
.planning_subtitle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  font-family: $font-en;
  @include mq('sp'){
    font-size: 25px;
  }
}
.direction_item{
  background: url(/img/sevice-img03@2x.jpg) no-repeat center center / cover;
  width: 33%;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);

  &:hover{
    filter: brightness(50%);
    transition: all 0.3s 0s  ease;
  }

}
.direction_subtitle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  font-family: $font-en;
  @include mq('sp'){
    font-size: 25px;
  }
}
.service_message{
  color: rgba(23, 23, 23,.3);
  font-size: 90px;
  margin-top: 80px;
  text-align: right;
  @include mq('tab'){
    font-size: 70px;
  }
  @include mq('sp'){
    font-size: 60px;
  }


}
// contact
.contact{
  background: url(/img/contact-bgi@2x.jpg) no-repeat center center / cover;


}
.contact_inner{
  padding: 100px 100px 70px 0;
  @include mq('pc'){
    padding: 108.5px 80px;
  }
  @include mq('semi-pc'){
    padding: 188px 70px;
  }
  @include mq('tab'){
    padding: 76px 60px;
  }
  @include mq('sp'){
    padding: 76px 40px;
  }


}
.contact_title{
  color: #fff;
  display: flex;
  justify-content: right;
  align-items: center;
  letter-spacing: 0.1em;
  position: relative;
  right: 150px;
  @include mq('tab'){
    position: static;
    justify-content: left;
  }
  @include mq('sp'){
    position: static;
    justify-content: left;
  }
  &::after{
    border-top: 1px solid #fff;
    width: 200px;
    position: absolute;
    content: "";
    right: -248px;
    @include mq('tab'){
      width: 100%;
      position: static;
      margin-left: 30px;
    }
    @include mq('sp'){
      width: 100%;
      position: static;
      margin-left: 30px;
    }
  }
}
.contact_text{
  font-size: 20px;
  margin-top: 80px;
  color: #fff;
  text-align: center;

}
.contact_button{
  margin-top: 40px;
  text-align: center;
  a{
    padding: 19px ;
    background-color: #F7D43F;
    display: inline-block;
    width: 235px;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    border: 1px solid #707070;
    &:hover{
      background-color: #fff;
    }
  }
}
.contact_message{
  margin-top: 70px;
  font-size: 90px;
  color: rgba(255, 255, 255, .3);
  @include mq('tab'){
    font-size: 70px;
  }
  @include mq('sp'){
    font-size: 70px;
  }
}

// footer
footer{
  background-color: #fff;
  border: 1px solid #707070;
  box-shadow: 0 0 15px rgba(0, 0, 0, .3);


}
.footer_copylight{
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 30px 0;
}


// contact.html
.contact_top{
  background: url(/img/contact-bgi@2x.jpg) no-repeat center center / cover;
  height: 453px;


}
.contact_top_inner{

}
.contact_top_title{
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  font-family: $font-en;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50% , -50%);

}
.contact_bottom{
  padding: 100px 160px 80px;
  @include mq('sp'){
    padding: 100px 40px 80px;
  }
  
}
.label-title {
  font-size: 40px;
  text-align: center;
  border: solid 3px  #340beb;
  border-radius: 6px;
  background:  #340beb;
  color: #fff;
 }
  
  
  
 form {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  }
  
  
 .radioinput {
  text-align: center;
  }
  
  
 .form-sample {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 15px;
  @include mq('tab'){
    display: block;
  }
  @include mq('sp'){
    display: block;
  }
 }
  
 .form-radio {
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 15px;
  @include mq('tab'){
    display: block;
  }
  @include mq('sp'){
    display: block;
  }
}
  
  
  
 .radio-label {
  width: 70%;
  margin-left: 20px;
 font-size: 18px;
 @include mq('tab'){
   width: 100%;
   margin-left: 0;
   margin-top: 10px;
   padding-left: 10px;
 }
 }
  
  
 .form-label {
  width: 30%;
  font-weight: bold;
  font-size: 19px;
  @include mq('tab'){
    width: 100%;
  }
  @include mq('sp'){
    width: 100%;
  }
 }
  
 .form-label.last {
  margin-top: 10px;
  margin-bottom: auto;
 }
  
 .form-require {
  border-radius: 5px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 55px;
  display: inline-block;
  text-align: center;
  background: #f7d43f;
  color: #000;
  font-size: 15px;
 }
  
 .form-input {
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 40px;
  padding-left: 10px;
  height: 50px;
  width: 65%;
  font-size: 18px;
  @include mq('tab'){
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }
  @include mq('sp'){
    margin-left: 0;
    width: 100%;
    margin-top: 10px;

  }
 }
  
 .form-textarea {
  border: 1px solid gray;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 65%;
  font-size: 18px;
  @include mq('tab'){
    margin-left: 0;
    width: 100%;
    margin-top: 10px;

  }
  @include mq('sp'){
    margin-left: 0;
    width: 100%;
    margin-top: 10px;

  }
}

.contact_bottom_button{
  margin-top: 40px;
  text-align: center;
  a{
    padding: 19px ;
    background-color: #F7D43F;
    display: inline-block;
    width: 235px;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    border: 1px solid #707070;
    &:hover{
      background-color: #fff;
    }
  }
}
